{% extends "layout.html" %}
{% block content %}
	<h1><center>Blue Sky Incripted..</center></h1>
	{% for i in post_arg%}
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ i.author }}</a>
              <small class="text-muted">{{ i.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ i.title }}</a></h2>
            <p class="article-content">{{ i.content }}</p>
          </div>
        </article>
	{% endfor %}
{% endblock content %}